<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation</title>
    <meta charset="UTF-8">

    <script>
        function validate(){
            var hourDt = new Date().getHours()+1;
            var apt = document.getElementById("aptField").value;
            var hr = document.getElementById("hourField").value;
            var player = document.getElementById("playerField").value;
            if(apt == ""){
                alert("Please select a valid apartment number");
            }
            else if(/[^a-zA-Z0-9]/.test(apt) ) {
                alert('Apartment number is not alphanumeric');
            }
            else if(/[^0-9]/.test(hr) ) {
                alert('Hour is not numeric');
            }
            else if(/[^0-9]/.test(player) ) {
                alert('Player count is not numeric');
            }
            else if((hr < hourDt) || (hr >= 24) || (hr <=0 )){
                alert('Hour is not valid');
            }
            else if((player > 5) || (player <=0 )){
                alert('Player count between is more than 5');
            }
            else{
                document.cForm.submit();
            }
        }

        function clearAll(){
            document.getElementById("aptField").value = "";
            document.getElementById("hourField").value = "";
            document.getElementById("playerField").value = "";
        }
    </script>
</head>
<body>
<a href="/home">Home</a>
<div align = "center">
<h1>Add Reservation</h1>

<form id="cForm" name="cForm" action="#" th:action="@{/addreservation}" th:object="${reservation}" method="post">
<table align="center" >
    <tr>
    <td width="25%">
        Apartment:
    </td>
    <td width="75%">
     <input id="aptField" type="text" th:field="*{aptId}">
    </td>
    </tr>
    <tr>
    <td width="25%">
        Hour: 
    </td> 
    <td width="75%"> 
        <input id="hourField" type="number" th:field="*{hourNumber}">
    </td>
    </tr>
    <tr>
    <td width="25%">
        Player Count: 
    </td>
    <td width="75%"> 
    <input id="playerField" type="number" th:field="*{playerCount}">
    </td>
    </tr>
    <tr>
    <td width="25%"></td>
    <td width="75%"></td>
    </tr>
    </table>
    <table align="center" >
    <tr>
    <td align="center" colspan="2">
        <input type="button" value="Submit" style="background-color:red; color:white;" onClick="validate();"/>  <input type="button" value="Reset" style="background-color:blue; color:white;" onClick="clearAll();"/>
    </td>
    </tr>
    </table>
</form>
</div>
</body>
</html>